<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
    <style>
      body {
        margin: 0;
      }
      .map {
        height: 100vh;
        width: 100vw;
      }
      /* canvas {
        background-color: transparent;
      } */
      /* .custom-canvas {
        position: absolute;
        top: 0;
        pointer-events: none;
      } */
    </style>
    <title>Wind layer</title>
  </head>
  <body>
    <div id="map" class="map"></div>
  </body>
</html>
